@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #1b1b1b;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Header */

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-bottom: 4rem;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo h1 {
    color: #fff;

}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li>a:hover {
    color: #ffdf00;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #fff;
}

.hero {
    align-items: center;
    text-align: center;
    margin-top: 8rem;
}

.hero h2 {
    font-size: 40px;
    letter-spacing: 1.3px;
    margin-top: 3rem;
    font-weight: 700;
    color: #fff;
}

.hero p {
    margin-top: 25px;
    line-height: 30px;
    color: #f5f5f5;
    font-size: 13px;
}

.hero .button {
    display: inline-block;
    background: #da9101;
    color: #000;
    padding: 8px 50px;
    margin: 50px 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

/* ABOUT US */

.about-us {
    margin-bottom: 4rem;
}

.about-us .container {
    padding: 1rem;
    align-items: center;
    display: flex;
}

.image-container {
    flex: 1;
    width: 50%;
    flex-wrap: wrap;
}

.image-container img {
    flex: 1;
    max-height: 300px;
    align-self: center;
    margin: 3px 3px;
}

.text-container {
    justify-content: center;
    text-align: left;
    flex: 1;
}

.text-container h2 {
    color: #da9101;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 300;
}

.text-container p {
    color: #f5f5f5;
    margin: 20px 0;
    line-height: 2;
}

/* TODAYS SPECIAL */

.speciality {
    margin-bottom: 8rem;
}

.speciality .container {
    text-align: center;
}

.speciality .container h1 {
    color: #da9101;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 300;
}

.speciality .container p {
    color: #f5f5f5;
    margin: 10px 0;
    font-weight: lighter;
}

.card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.card {
    /* flex: 0.8; */
    width: 300px;
    border-radius: 10px;
    margin: 0 5px;
    height: 400px;
    background: #242625;
    overflow: hidden;
}

.card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.card .card-data {
    padding: 10px;
    text-align: left;
}

.card-data h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.row {
    align-items: center;
    display: flex;
}

.card-data .row {
    margin: 15px 0;
    justify-content: space-between;
}

.card-data .row .time {
    align-items: center;
    display: flex;
}

.card-data .row .time p {
    margin-left: 20px;
    font-weight: 300;
}

.card-data .row a {
    margin-left: 20px;
    font-weight: 300;
    text-decoration: underline;
    color: #da9101;
    font-size: 20px;
    letter-spacing: 1.2;
}

.card-data .row a:hover {
    color: #ecc440;
}

/* DISCOVER */

.discover {
    margin-bottom: 4rem;
}

.discover .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discover .container .image-container {
    flex: 1;
    text-align: right;
    /* width: 20%; */
    justify-content: flex-end;

}

.discover .container .image-container img {
    width: 60%;
    max-height: 400px;
    justify-self: right;
}

.discover .container .text-container {
    justify-content: center;
    text-align: left;
    flex: 1;
}

.discover .container .text-container h2 {
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 300;
}

.discover .container .text-container p {
    color: #f5f5f5;
    margin: 20px 0;
    line-height: 2;
}

.discover .button {
    display: inline-block;
    background: #da9101;
    color: #000;
    padding: 8px 50px;
    margin: 30px 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

/* TESTIMONIAL */
.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    background: url(img/testimonial.bg-top.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    position: relative;
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}

.testimonial .heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 400;
    margin: 15px 0;
}

.testimonial .white-heading {
    color: #ffffff;
    letter-spacing: 1.2;
    margin: 15px 0;
}

.testimonial #testimonial4 .carousel-inner:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.testimonial #testimonial4 .carousel-inner:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.testimonial #testimonial4 .carousel-inner .item {
    overflow: hidden;
}

.testimonial .testimonial4_indicators .carousel-indicators {
    left: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    height: 20px;
    bottom: 15px;
    padding: 0 5px;
    cursor: e-resize;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.testimonial .testimonial4_indicators .carousel-indicators li {
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    text-indent: 0;
    margin: 2px 3px;
    cursor: pointer;
    display: inline-block;
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.testimonial .testimonial4_indicators .carousel-indicators .active {
    padding: 0;
    width: 14px;
    height: 14px;
    border: none;
    margin: 2px 3px;
    background-color: #9dd3af;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.testimonial .testimonial4_indicators .carousel-indicators::-webkit-scrollbar {
    height: 3px;
}

.testimonial .testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb {
    background: #eeeeee;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.testimonial .testimonial4_control_button .carousel-control {
    top: 175px;
    opacity: 1;
    width: 40px;
    bottom: auto;
    height: 40px;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    line-height: 38px;
    text-shadow: none;
    text-align: center;
    position: absolute;
    background: transparent;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
    transition: all 0.6s cubic-bezier(0.3, 1, 0, 1);
}

.testimonial .testimonial4_control_button .carousel-control.left {
    left: 7%;
    top: 50%;
    right: auto;
}

.testimonial .testimonial4_control_button .carousel-control.right {
    right: 7%;
    top: 50%;
    left: auto;
}

.testimonial .testimonial4_control_button .carousel-control.left:hover,
.testimonial .testimonial4_control_button .carousel-control.right:hover {
    color: #000;
    background: #fff;
    border: 2px solid #fff;
}

.testimonial .testimonial4_header {
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

.testimonial .testimonial4_header h4 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.testimonial .testimonial4_slide {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
}

.testimonial .testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}

.testimonial .testimonial4_slide p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}

.testimonial .testimonial4_slide h4 {
    color: #ffffff;
    font-size: 22px;
}

.testimonial .carousel {
    padding-bottom: 50px;
}

.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}

/* --------------------CHEFS--------------------------------- */
.chefs {
    margin-bottom: 4rem;
}

.chefs h1 {
    color: #da9101;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.2;
    text-align: center;
}

.chefs p {
    color: #f5f5f5;
    margin: 15px 0;
    text-align: center;
}

.chefs .card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.chefs .card-container .card {
    background: none;
    width: 320px;
    text-align: center;
    height: 300px;
}

.chefs .card-container .card img {
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.chefs .card-container .card h4 {
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 700;
    margin-top: -10px;
}

/* ----------------GALLERY------------------- */

.gallery {
    margin: 6rem;
}

.gallery h1 {
    color: #da9101;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.2;
    text-align: center;
}

.gallery p {
    color: #f5f5f5;
    margin: 15px 0;
    text-align: center;
}

.gallery .gallery-container {
    display: flex;
    align-items: center;
    height: 350px;
    justify-content: space-between;
    margin-top: 30px;
}

.gallery .gallery-container img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.gallery .gallery-container .small-container {
    width: 350px;
    align-items: center;
    height: 350px;
    justify-content: space-between;
}

.gallery .gallery-container .small-container img {
    object-fit: cover;
    height: 165px;
}


